VITE_MAPBOX_TOKEN=pk.eyJ1IjoicGF3YW5kZXYxMDk5IiwiYSI6ImNtcDVhMGQ5ZTBheGIyc3I3YmJmZ3JqMXAifQ.xnF3Nm06aG-B2lB2tF_2Lg
VITE_MS2_BASE=http://localhost:8082
VITE_MS3_BASE=http://localhost:8083
VITE_MS4_BASE=http://localhost:8084
VITE_MS5_BASE=http://localhost:8085
